@{ ViewData["Title"] = "Privacy Policy"; }
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h3>Hướng dẫn sử dụng</h3>
    <ul>
        <li>API cho phần IDOL: <a href="https://localhost:44344/api/idolservices" target="_blank" class="blue-text">https://localhost:44344/api/idolservices</a></li>
        <li>API cho phần COMMENT: <a href="https://localhost:44344/api/commentservices" target="_blank" class="blue-text">https://localhost:44344/api/commentservices</a></li>
    </ul>
</div>
