@model Data.Entities.Idols
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="col-md-6 view view-cascade gradient-card-header blue-gradient narrower py-2 mb-3 rounded">
        <h1 class="white-text text-center">Start up</h1>
    </div>
    <h4>Information</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="md-form">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="md-form">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <input type="hidden" asp-for="Email" value="@User.Identity.Name" class="form-control" />
                </div>
                <div class="md-form">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" type="number" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <input type="hidden" asp-for="Star" value="50" class="form-control" />
                </div>
                <select asp-for="Gender" class="browser-default custom-select my-4">
                    <option value="Nam">Nam</option>
                    <option selected value="Nữ">Nữ</option>
                </select>
                <div class="custom-file">
                    <input asp-for="Image" type="file" id="upload" class="custom-file-input form-control">
                    <label class="custom-file-label" asp-for="Image" data-browse="Select"></label>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="md-form text-center">
                    <button type="submit" class="btn btn-outline-primary btn-rounded">Create</button>
                </div>
            </form>
            <div>
                <a asp-action="Index" class="float-right">Back to List</a>
            </div>
            <div class="text-danger">
                @ViewBag.error
            </div>
        </div>
        <div class="col-md-6">
            <div class="my-5 text-center">
                <img src="~/img/image.png" class="rounded" id="image" alt="" width="360">
            </div>
        </div>
    </div>
}
else
{
    <a>Login đi bạn</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
